[Desktop Entry]
Name=ankinate-multikey
GenericName=ankinate-multikey
Comment=Multikey Keybinds
Exec=/bin/bash -c "/bin/sleep 5 && /usr/bin/systemctl --user start keyswap"
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true